@tailwind base;
@tailwind components;

@font-face {
  /*카페24 아네모네 에어*/
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*마루 부리*/
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*고운돋움Regular*/
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.lavender-theme {
  --color-main: #a56bc0;
  --color-point: #8e4dac;
  --color-sub: #e0bbff;
}

.olive-theme {
  --color-main: #838517;
  --color-point: #6f700f;
  --color-sub: #d2d897;
}

.amaranth-theme {
  --color-main: #b8578f;
  --color-point: #992f6d;
  --color-sub: #e7a6bc;
}
.hydrangea-theme {
  --color-main: #567eb9;
  --color-point: #3d66a3;
  --color-sub: #93c7e9;
}
.freesia-theme {
  --color-main: #ecab31;
  --color-point: #e6a01e;
  --color-sub: #ffdd94;
}

.light input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(249, 250, 251) inset;
  -webkit-text-fill-color: rgb(0, 0, 0);
}
.light input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgb(249, 250, 251) inset;
  -webkit-text-fill-color: #000;
}
.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(18, 24, 40) inset;
  -webkit-text-fill-color: rgb(255, 255, 255);
}
.dark input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgb(18, 24, 40) inset;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

@tailwind utilities;
