@tailwind base;
@tailwind components;

@font-face {
  /*카페24 아네모네 에어*/
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*마루 부리*/
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.lavender-theme {
  --color-main: #a56bc0;
  --color-point: #8e4dac;
  --color-sub: #e2afff;
}

.olive-theme {
  --color-main: #838517;
  --color-point: #6f700f;
  --color-sub: #d2d38b;
}

.amaranth-theme {
  --color-main: #a1437a;
  --color-point: #9c3471;
  --color-sub: #e993b0;
}
.hydrangea-theme {
  --color-main: #567eb9;
  --color-point: #3d66a3;
  --color-sub: #93c7e9;
}
.freesia-theme {
  --color-main: #ecab31;
  --color-point: #e6a01e;
  --color-sub: #ffd373;
}

@tailwind utilities;
